<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title></title>
</head>

<body>

<div th:fragment="footercopy" class="footer">
<!--  <p th:utext="#{footer.p}"></p>-->
    <footer class="py-3 my-4">
<!--      <ul class="nav justify-content-center border-bottom pb-3 mb-3">-->
<!--          change to /dashboard later-->
<!--        <li class="nav-item"><a href="/dashboard" class="nav-link px-2 text-muted">Dashboard</a></li>-->
<!--      </ul>-->
<!--        add other pages here-->
      <p class="text-center text-muted">© 2023 RoomSense, Inc</p>
    </footer>
</div>

</body>

</html>