main {
    min-height: calc(100vh - 64px - 72px);
}



#login-page {
    background-image: url("static/images/people-working.jpg"); /* Replace with the path to your image */
    background-size: cover; /* Ensures the image covers the entire background */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat;
}