<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <script defer th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <title>Login</title>
</head>
<body>
<div th:if="${session.loggedIn}">
        <div th:insert="~{fragment/navbar-logged-in::navbar-logged-in}">div</div>
</div>
<div th:unless="${session.loggedIn}">
    <div th:insert="~{fragment/navbar-not-logged-in::navbar-not-logged-in}">div</div>
</div>
<h1 class="text-center">About us</h1>
<!-- General info mision vision -->
<div class="container-fluid d-flex justify-content-center">
<div class="row">
    <div class="col-sm-6 mb-3 mb-sm-0">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Mission</h5>
                <p class="card-text">Our mission is to make students and employees more efficient
                    and focused by making their workspaces more comfortable.
                    While improving the overall health and happiness of the workforce.
                </p>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Vision</h5>
                <p class="card-text">Our vision is to boost productivity and
                    health worldwide by maximising the potential of work- and living-environments.
                </p>
            </div>
        </div>
    </div>
</div>
</div>
<br><br>
    <!-- Team introduction -->
<div class="card">
    <div class="card-body">
        <h5 class="card-title">Team introduction</h5>
        <p class="card-text">We are a team of five ambitious students.
            All passionate about new technologies to improve our environment.
            During our school career we worked on various projects,
            RoomSense was our biggest project. We are committed to create a device that
            can help us optimise the usage of classrooms and offices alike.
            We have the luck to have two powerful shapers in our team.
            The idea came into their heads and together
            with the fantastic implementers we implemented the idea into a real product.</p>    </div>
</div><br>
<!-- Individual introductions -->
<h1>Individual introduction</h1><br>
<div class="row row-cols-1 row-cols-md-2 g-5">
    <div class="col">
        <div class="card text-bg-primary mb-3">
            <img src="../static/images/Placeholder.png" class="card-img-top" alt="Profile picture">
            <div class="card-body">
                <h5 class="card-title">Roman</h5>
                <p class="card-text">I am passionate about bringing project visions to life to the best of my abilities with the help of an excellent team working alongside me. I am committed to learning more about the fields I work in and creating products that improve the world overall and give us all a better place to live in.
                </p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card text-bg-primary mb-3">
            <img src="../static/images/Placeholder.png" class="card-img-top" alt="Profile picture">
            <div class="card-body">
                <h5 class="card-title">Abel</h5>
                <p class="card-text">I am an inexhaustible mine of ideas. To me, imagination has no boundaries. Thanks to education in IT, I can use it to create innovative products both for private and corporate use. I’m an artistic person, fit both for technical and creative tasks.
                </p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card text-bg-primary mb-3">
            <img src="../static/images/Placeholder.png" class="card-img-top" alt="Profile picture">
            <div class="card-body">
                <h5 class="card-title">Anna</h5>
                <p class="card-text">I am drawn to working on exciting and innovative projects, not only for the opportunity they present to challenge and advance my professional skills but also because of the potential to positively impact the lives of others through cutting-edge technological solutions.
                </p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card text-bg-primary mb-3">
            <img src="../static/images/Placeholder.png" class="card-img-top" alt="Profile picture">
            <div class="card-body">
                <h5 class="card-title">Boldi</h5>
                <p class="card-text">I have been a problem-solver for as long as I have known, I always enjoyed working on difficult but interesting projects and I have a passion for learning new things and developing new and innovative ideas that improve people's lives.
                </p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card text-bg-primary mb-3">
            <img src="../static/images/Placeholder.png" class="card-img-top" alt="Profile picture">
            <div class="card-body">
                <h5 class="card-title">Jasper</h5>
                <p class="card-text">Myself in three words: Committed, Result-oriented, leadership. As group leader of the scouts, I have the pleasure to manage the finances of various events. Here I learned to work together as a team and lead them towards a common goal. I was lucky to put the theoretical information of school into practice during a data engineering internship. This proves my commitment to grow and keep learning in the constantly changing world.
                </p>
            </div>
        </div>
    </div>
</div><br>
<!-- Carousel for documentation, the manual -->
<h1>Device setup documentation</h1>
<div id="carouselExample" class="carousel slide">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <a href="../static/pdf's/Vision%20Document%20-%20Team%203%20Integration%203.docx.pdf"></a>
        </div>
    </div>
</div>
<div th:insert="~{fragment/footer::footercopy}">footer</div>
</body>
</html>