<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <script defer th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <script defer th:src="@{/dashboardScript.js}"></script>
    <link rel="stylesheet" th:href="@{/css/dashboardStyle.css}">
    <title>Dashboard</title>
    <script th:inline="javascript">
        /*<![CDATA[*/
        let tempList = /*[[${tempList}]]*/ 'Sebastian';
        let tempList_rawTimes = /*[[${tempList_rawTimes}]]*/ 'Sebastian';
        let humidList = /*[[${humidList}]]*/ 'Sebastian';
        let humidList_rawTimes = /*[[${humidList_rawTimes}]]*/ 'Sebastian';
        let CO2List = /*[[${CO2List}]]*/ 'Sebastian';
        let CO2List_rawTimes = /*[[${CO2List_rawTimes}]]*/ 'Sebastian';
        /*]]>*/
    </script>
</head>
<body class="bg-dark-subtle">
<div th:insert="~{fragment/navbar-logged-in::navbar-logged-in}">navbar</div>
    <div class="container-fluid d-flex justify-content-center">
        <div class="col-12">
            <div th:if="${databaseError != null}">
                <h1 class="text-danger text-center" th:text="${databaseError}"></h1>
            </div>
            <div th:if="${databaseError == null}">
                <div class="text-center mb-3">
                    <h4 class="mt-2">Data Filtering Options</h4>
                    <div class="m-2 row">
                        <form method="post" id="selectRoom" class="form-inline">
                            <div class="form-group mb-2">
                                <label th:for="dateTimeStart">Date to view:</label>
                                <input type="datetime-local" th:field="*{dashboardViewModel.dateTimeStart}" class="form-control-sm">

                                <label th:for="timePeriod">Time period to view:</label>
                                <select th:field="*{dashboardViewModel.timePeriod}" class="form-select-sm">
                                    <option value=10>10m</option>
                                    <option value=30>30m</option>
                                    <option value=60>1h</option>
                                    <option value=360>6h</option>
                                    <option value=720>12h</option>
                                    <option value=1440>24h</option>
                                    <option value=4320>3d</option>
                                    <option value=7200>5d</option>
                                    <option value=10080>1w</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label th:for="roomID">Select Room to Show: </label>
                                <select class="form-select-sm" th:field="*{dashboardViewModel.roomId}">
                                    <option th:each="room : ${userRooms}" th:text="${room.getName()}" th:value="${room.getId()}"></option>
                                </select>
                                <button type="submit" class="btn btn-primary btn-sm">Search for Room</button>
                            </div>
                        </form>
                    </div>
                    <hr />
                </div>

                <h1 th:if="chooseRoom" th:text="${chooseRoom}" class="text-center"></h1>

                <div class="m-2 row">
                    <div class="col-lg-6 col-md-12 col-sm-12 text-center" th:if="${tempList != null}">
                        <h2>Temperature Data</h2>
                        <canvas id="tempChart" class="mx-auto"></canvas>
                        <p id="tempWarn" class="text-danger"></p>
                        <p id="tempRecommend"></p>
                        <p id="tempStats">No Data Available</p>
                    </div>

                    <div class="col-lg-6 col-md-12 col-sm-12 text-center" th:if="${humidList != null}">
                        <h2>Humidity Data</h2>
                        <canvas id="humidChart" class="mx-auto"></canvas>
                        <p id="humidWarn" class="text-danger"></p>
                        <p id="humidRecommend"></p>
                        <p id="humidStats">No Data Available</p>
                    </div>

                    <div class="col-lg-6 col-md-12 col-sm-12 text-center" th:if="${CO2List != null}">
                        <h2>CO2 Data</h2>
                        <canvas id="CO2Chart" class="mx-auto"></canvas>
                        <p id="CO2Warn" class="text-danger"></p>
                        <p id="CO2Recommend"></p>
                        <p id="CO2Stats">No Data Available</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div th:insert="~{fragment/footer::footercopy}">footer</div>
</body>

</html>