<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <script defer th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <title>Log in</title>
</head>
<body>
<div th:insert="~{fragment/navbar-not-logged-in::navbar-not-logged-in}">div</div>

<main>
    <div class="align-items-center mt-3">
        <div class="text-center container-fluid h-custom card p-3 bg-light w-50 border border-dark-subtle border-3 rounded-5 bg-secondary-subtle">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-sm-7 px-0 d-none d-sm-block">
                    <form method="post" th:object="${loginviewmodel}" novalidate>
                        <div th:if="${loginError}" class="alert alert-danger">
                            <p th:text="${loginError}"></p>
                        </div>
                        <div class="form-outline mb-4">
                            <h4>Log in</h4>
                            <div>
                                <label th:for="email" class="form-label">Email</label>
                                <input type="email" class="form-control" id="email" th:field="*{email}">
                                <p class="text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
                            </div>
                            <div>
                                <label th:for="password" class="form-label">Password</label>
                                <input type="password" class="form-control" id="password" th:field="*{password}">
                                <p class="text-danger" th:if="${#fields.hasErrors('password')}"
                                   th:errors="*{password}"></p>
                            </div>
                            <div class="text-center mt-6 pt-4">
                                <button type="submit" class="btn btn-primary">Log in</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>

<div th:insert="~{fragment/footer::footercopy}">footer</div>
</body>
</html>

