<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <script defer th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <title>Sign Up</title>
</head>
<body class="bg-dark-subtle">
    <div th:if="${session.loggedIn}">
        <div th:insert="~{fragment/navbar-logged-in::navbar-logged-in}">div</div>
    </div>
    <div th:unless="${session.loggedIn}">
        <div th:insert="~{fragment/navbar-not-logged-in::navbar-not-logged-in}">div</div>
    </div>

    <main>
        <div class="align-items-center mt-3">
            <div class="text-center container-fluid h-custom card p-3 bg-light w-50 border border-dark-subtle border-3 rounded-5 bg-secondary-subtle">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-sm-7 px-0 d-none d-sm-block">
                        <form method="post" th:object="${signupviewmodel}" novalidate>
                            <div class="form-outline mb-4">
                                <h4>Sign Up</h4>
                                <div>
                                    <label th:for="username" class="form-label">Username</label>
                                    <input type="text" class="form-control" th:field="*{username}" required>
                                    <p class="text-danger" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></p>
                                </div>
                                <div>
                                    <label th:for="email" class="form-label">Email</label>
                                    <input type="email" class="form-control" th:field="*{email}" required>
                                    <p class="text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
                                    <p class="text-danger" th:if="${userTaken != null}">Email already taken!</p>
                                </div>
                                <div>
                                    <label th:for="password" class="form-label">Password</label>
                                    <input type="password" class="form-control" th:field="*{password}" required>
                                    <p class="text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
                                </div>
                                <div class="row my-2 m-0">
                                    <label th:for="useCase" class="form-label">Use Case</label>
                                    <select id="inputCase" class="bg-white border rounded-2" name="useCase" th:field="*{useCase}" required>
                                        <option th:each="case : ${useCases}" th:value="${case}" th:text="${case}"></option>
                                    </select>
                                    <p class="text-danger" th:if="${#fields.hasErrors('useCase')}" th:errors="*{useCase}"></p>
                                </div>
                                <div class="text-center mt-6 pt-4">
                                <button type="submit" class="btn btn-primary">Sign Up</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <div th:insert="~{fragment/footer::footercopy}">footer</div>
</body>
</html>